.card {
    border: 1px solid lightcoral;
    border-radius: $base-border-radius;
    margin-bottom: .5em;
    padding: .8em .3em;
    transition: all .3s ease;

    &:hover {
        background-color: $coral-darker;
    }
}

.card_highlighted-as-drop-target {
    transition: all .5s ease;
    background-color: $coral-lightest;
}

.card__title {

}

.card-link {
    color: inherit;

    &:hover {
         color: inherit;
         text-decoration: none;
    }
}

.card__details {
    font-size: .8em;
}