.card-list-container {
  flex: 0 0 15em;
  border: 1px solid $coral;
  border-radius: $base-border-radius;
  margin-right: 10px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  min-width: 15em;
  cursor: grab;
}

.card-list, .card-list__footer-form {
  padding: 1em;
}

.card-list_highlighted-as-drop-target {
  transition: all .5s ease;
  background-color: $coral-lightest;
  border-radius: $base-border-radius;
}

.card-list__header {
  font-size: 1.2em;
  margin-bottom: .5em;
}

.card-list__title {
  float: left;
}

.card-list__tool {
  float: right;
  margin-right: .2em;
  color: lightgrey;
  transition: all .3s ease;

  &:hover {
    color: #8F8F8F;
    cursor: pointer;
  }
}

.card-list__tool_smaller {
  font-size: 1em;
}

.card-list__cards {
  overflow-y: auto;
  max-height: 400px;
}

.card-list__footer {
  cursor: pointer;
  padding: .5em;
  font-size: .8em;
  transition: all .3s ease;

  &:hover {
    background-color: $coral-darker;
  }
}

.card-list__footer_highlighted {
  background-color: $coral-lightest;
  border-radius: $base-border-radius;
}

.card-list__footer-form {
  border-top: 1px solid $coral;
}

.card-list__drop-flag {
  text-align: center;
  position: relative;
  font-size: .7em;
  padding: .2em 0;
  opacity: 0;
  height: 1.5em;
}

.card-list__drop-flag_visible {
  opacity: 1;
}

.card-list__drop-flag-icon {
  animation: dropFlag 500ms infinite;
}

@keyframes dropFlag {
  0%   {top: 0;}
  50%  {top: .5em}
  100% {top: 0;}
}
