.card-list-form {
  min-width: 15em;
  margin-right: 10px;
  padding: 1em;
  border: 1px solid lightcoral;
  border-radius: $base-border-radius;
}

.card-list-form_borders_tb {
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.card-lists-form_full-width {
  min-width: 100%;
}

.card-list-form__label {
  margin-bottom: 5px;
}

.card-list-form__btn {
  margin-right: 5px;
}