.card-list-container {
    flex: 0 0 15em;
    border: 1px solid $coral;
    border-radius: $base-border-radius;
    margin-right: 10px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    min-width: 15em;
    cursor: grab;

    .card-list, .card-list__footer-form {
        padding: 1em;
    }

    .card-list {
        &_highlighted-as-drop-target {
            transition: all .5s ease;
            background-color: $coral-lightest;
            border-radius: $base-border-radius;
        }

        &__header {
            font-size: 1.2em;
            margin-bottom: .5em;
        }

        &__title {
            float: left;
        }

        &__cards {
            overflow-y: auto;
            max-height: 400px;
        }

        &__footer {
            cursor: pointer;
            padding: .5em;
            font-size: .8em;
            transition: all .3s ease;

            &:hover {
                background-color: $coral-darker;
            }

            &_highlighted {
                background-color: $coral-lightest;
                border-radius: $base-border-radius;
            }

            &-form {
                border-top: 1px solid $coral;
            }
        }

        &__drop-flag {
            text-align: center;
            position: relative;
            font-size: .7em;
            padding: .2em 0;
            opacity: 0;
            height: 1.5em;

            &_visible {
                opacity: 1;
            }

            &-icon {
                animation: dropFlag 500ms infinite;
            }
        }
    }
}

@keyframes dropFlag {
  0%   {top: 0;}
  50%  {top: .5em}
  100% {top: 0;}
}
